@model NumAndDrive.Areas.UserArea.ViewModels.UserProfile.FirstConnectionViewModel

<br />
<div class="row mb-3">
    <div class="col text-center">
        <h1>Bienvenue dans votre application de covoiturage NumAndDrive !</h1>
    </div>
</div>
<div class="row mb-1">
    <div class="col">
        <p>Cela est votre première connexion. Lors de votre première connexion, vous devez changer le mot de passe provisoire qui vous a été fournis par votre administration. Vous pourrez également configurer votre profil. <br />Bonne route à vous !</p>
    </div>
</div>
<form method="post">
    <div class="card-group custom-card-border-blue shadow-lg">
        <div class="card p-2 bg-body-secondary">
            <img src="~/images/profile-pic-white.png" class="img-fluid" />
            <div class="card-body">
                <div class="form-group row mb-3">
                    <div class="col mb-3">
                        <label for="formFile" class="form-label">Changer de photo de profil</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-2">
            <h3 class="card-title text-center">Modifier vos informations</h3>
            <div class="card-body">
                <div class="card-text">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group row mb-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label asp-for="OldPassword">Mot de passe provisoire</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" asp-for="OldPassword" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="NewPassword">Nouveau mot de passe</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" asp-for="NewPassword" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label asp-for="ConfirmedNewPassword">Confirmez votre nouveau mot de passe</label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" asp-for="ConfirmedNewPassword" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col">
                            <label asp-for="NewStatusId">Changer de status utilisateur</label>
                            <div class="dropdown">
                                <button class="btn submit-blue-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Status
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var status in Model.Statuses)
                                    {
                                        <li>
                                            <input class="form-check-input" type="radio" asp-for="@Model.NewStatusId" value="@status.StatusId" checked="@(status.StatusId == Model.NewStatusId)" />
                                            <label class="form-check-label" asp-for="@status.Name" value="@status.StatusId">@status.Name</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-5">
                        <div class="col">
                            <label asp-for="NewDriverTypeId">Changer de type de conducteur</label>
                            <div class="dropdown">
                                <button class="btn submit-blue-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Type de conducteur
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var driverType in Model.DriverTypes)
                                    {
                                        <li>
                                            <input class="form-check-input" type="radio" asp-for="@Model.NewDriverTypeId" value="@driverType.DriverTypeId" checked="@(driverType.DriverTypeId == Model.NewDriverTypeId)" />
                                            <label class="form-check-label" asp-for="@driverType.Name" value="@driverType.DriverTypeId">@driverType.Name</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="hidden" name="UserId" value="@Model.UserId" />
                            <input type="submit" class="btn submit-blue-button" value="Enregistrement" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>