@model NumAndDrive.Areas.UserArea.ViewModels.Passenger.ResearchViewModel

<div class="row">
    <div class="col">
        <div class="card mb-3 custom-card-border-blue p-2 shadow-lg text-center">
            <h3 class="card-title"></h3>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Longwy > Metz</p>
                </div>
                <div class="col-3">
                    <p>Lundi 19/02/2024</p>
                </div>
                <div class="col-3">
                    Horaire de départ : 07h00
                </div>
                <div class="col-3">
                    Modifier votre recherche
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <ul class="nav nav-tabs flex-column" id="travelList">
                            @foreach (var travel in Model.Travels)
                            {
                                <li class="nav-item" travel-id="@travel.TravelId">
                                    <a class="nav-link active">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>@travel.PersonnalAdress.City > @travel.SchoolAddress.City</p>
                                                <p>@travel.DepartureTime.ToString() > @travel.ArrivalTime.ToString()</p>
                                            </div>
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <img src="~/images/profile-pic-blue.png" alt="Avatar" width="20">
                                                    </div>
                                                    <div class="col-6">
                                                        <p>@travel.PublisherUser.Firstname</p>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-8">
                        <div id="travelDetailsPartial">
                            @* Travel Details *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on('click', '#travelList .nav-item', function () {
            var travelId = $(this).attr('travel-id');
            $("#travelDetailsPartial").load('@Url.Action("TravelDetailsPartial", "Passenger")', { travelId: travelId });
            console.log(travelId);
        });
    </script>
}