@model NumAndDrive.Areas.UserArea.ViewModels.Driver.DriverIndexViewModel

@if (Model.Travels != null)
{
    <div class="row">
        @foreach (var travel in Model.Travels)
        {
            <div class="col-6">
                <table class="table table-bordered text-center">
                    <thead>
                        <th colspan="2">
                            @travel.DepartureAddress.City > @travel.ArrivalAddress.City
                        </th>
                    </thead>
                    <tbody>
                        @foreach (var day in Model.Days)
                        {
                            var dayIsActive = travel.TravelActivationDays.Any(activeDay => activeDay.ActivationDayId == day.ActivationDayId);
                            var active = dayIsActive ? "true" : "false";
                            var link = dayIsActive ? "Réservations" : "Activer";

                            <tr>
                                <td class="travel-active-@active">
                                    @day.Day + @travel.DepartureTime > @travel.ArrivalTime
                                </td>
                                <td class="travel-active-@active">
                                    @link
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}

<a type="button" class="btn submit-blue-button" asp-action="CreateGoTravel">AJOUTER UNE NOUVELLE ANNONCE</a>